module gardenlinux 1.0.0;

require {
  class capability { fowner dac_read_search fsetid };
  class chr_file { watch_reads unlink };
  class dir { search getattr add_name open read rmdir create rename reparent setattr write remove_name mounton relabelfrom relabelto };
  class fd { use };
  class file { read open map getattr append write lock execute_no_trans create rename unlink ioctl link setattr relabelfrom relabelto execute };
  class filesystem { getattr };
  class lnk_file { create getattr read write };
  class sock_file { create write };
  class unix_stream_socket { connectto };
  type auditctl_t,auditd_etc_t,auditd_log_t,auditd_t,cgroup_t,cron_spool_t,dbusd_etc_t,default_context_t,default_t,efivarfs_t,
       etc_t,etc_runtime_t,faillog_t,getty_t,init_runtime_t,init_t,init_var_lib_t,kmod_t,lastlog_t,locale_t,
       modules_conf_t,mount_t,nsfs_t,ntp_drift_t,ntpd_t,rngd_t,security_t,shadow_t,sshd_key_t,
       ssh_keygen_t,sysctl_vm_overcommit_t,sysctl_vm_t,syslogd_t,sysstat_log_t,sysstat_t,system_cron_spool_t,system_dbusd_t,
       system_dbusd_var_lib_t,systemd_coredump_var_lib_t,systemd_generator_t,systemd_journal_t,systemd_logind_t,
       systemd_logind_var_lib_t,systemd_modules_load_t,systemd_networkd_t,systemd_pstore_var_lib_t,systemd_resolved_runtime_t,
       systemd_resolved_t,systemd_sessions_t,systemd_sysusers_t,systemd_tmpfiles_t,systemd_user_runtime_dir_t,tmpfs_t,
       tmp_t,tty_device_t,udev_t,udev_rules_t,var_lib_t,var_lock_t,var_log_t,var_run_t,var_spool_t,var_t,wtmp_t;
}

allow auditctl_t default_t:file { read open map };

allow auditd_t default_t:dir { search };

allow getty_t default_t:dir { search };
allow getty_t default_t:file { getattr map open read };

allow init_t tty_device_t:chr_file { watch_reads };

allow kmod_t default_t:dir { search };
allow kmod_t default_t:file { getattr map open read };
allow kmod_t tmpfs_t:file { getattr open write };

allow mount_t auditd_etc_t:dir { read getattr open read };
allow mount_t auditd_etc_t:file { getattr read open };
allow mount_t auditd_log_t:dir { add_name create rename reparent };
allow mount_t auditd_log_t:file { open read append create setattr };
allow mount_t cron_spool_t:dir { read };
allow mount_t dbusd_etc_t:dir { read };
allow mount_t default_context_t:file { getattr open read };
allow mount_t default_t:chr_file { unlink };
allow mount_t default_t:dir { add_name open create remove_name relabelfrom rmdir };
allow mount_t default_t:file { create read write rename unlink open };
allow mount_t etc_t:dir { mounton create rename reparent setattr };
allow mount_t etc_t:lnk_file { create };
allow mount_t faillog_t:file { create getattr open setattr write relabelfrom relabelto };
allow mount_t init_var_lib_t:dir { create rename setattr relabelfrom relabelto add_name read reparent write };
allow mount_t init_var_lib_t:file { getattr create open read write setattr };
allow mount_t lastlog_t:file { getattr open read write create relabelfrom relabelto setattr };
allow mount_t modules_conf_t:dir { read };
allow mount_t mount_t:capability { fowner dac_read_search fsetid };
allow mount_t ntp_drift_t:dir { read create add_name write setattr };
allow mount_t ntp_drift_t:file { getattr open read write create setattr };
allow mount_t shadow_t:file { getattr open read link setattr write };
allow mount_t sshd_key_t:file { getattr open read create rename setattr write };
allow mount_t sysstat_log_t:dir { add_name create read rename reparent setattr write };
allow mount_t sysstat_log_t:file { getattr open read append create write };
allow mount_t system_cron_spool_t:dir { read open search };
allow mount_t system_cron_spool_t:file { read getattr };
allow mount_t system_dbusd_var_lib_t:dir { add_name create read relabelfrom relabelto rename reparent setattr write };
allow mount_t system_dbusd_var_lib_t:lnk_file { create getattr write read };
allow mount_t systemd_coredump_var_lib_t:dir { create read relabelfrom relabelto setattr };
allow mount_t systemd_journal_t:dir { read add_name create rename reparent setattr write relabelfrom relabelto };
allow mount_t systemd_journal_t:file { getattr write open create read setattr };
allow mount_t systemd_logind_var_lib_t:dir { read create setattr };
allow mount_t systemd_pstore_var_lib_t:dir { create getattr read relabelfrom relabelto setattr };
allow mount_t tmp_t:dir { rmdir create rename relabelfrom relabelto reparent };
allow mount_t udev_rules_t:dir { read };
allow mount_t var_lib_t:dir { create open rename reparent add_name relabelfrom relabelto };
allow mount_t var_lock_t:lnk_file { getattr read };
allow mount_t var_log_t:dir { read rename reparent add_name create relabelfrom relabelto };
allow mount_t var_log_t:lnk_file { create getattr read };
allow mount_t var_spool_t:dir { create read setattr write relabelfrom relabelto rename reparent search };
allow mount_t var_t:dir { relabelto add_name create relabelfrom rename reparent };
allow mount_t wtmp_t:file { open write create getattr relabelfrom relabelto setattr };

allow ntpd_t default_t:dir { getattr search };
allow ntpd_t default_t:file { getattr map read open };
allow ntpd_t sysctl_vm_overcommit_t:file { open read };
allow ntpd_t sysctl_vm_t:dir { search };
allow ntpd_t systemd_resolved_runtime_t:sock_file { write };
allow ntpd_t systemd_resolved_t:unix_stream_socket { connectto };

allow rngd_t default_t:dir { search };
allow rngd_t default_t:file { getattr map open read };

allow ssh_keygen_t default_t:dir { search };
allow ssh_keygen_t locale_t:dir { search };
allow ssh_keygen_t locale_t:file { getattr map open read };

allow syslogd_t default_t:dir { search };
allow syslogd_t init_runtime_t:file { open read };

allow sysstat_t default_t:file { getattr map open read };

allow system_dbusd_t default_t:dir { getattr search };
allow system_dbusd_t default_t:file { getattr map open read };
allow system_dbusd_t security_t:file { map };

allow systemd_generator_t cron_spool_t:dir { getattr write open read search };
allow systemd_generator_t system_cron_spool_t:dir { getattr open read search };
allow systemd_generator_t var_run_t:dir { add_name write };
allow systemd_generator_t var_run_t:file { append open create getattr ioctl};
allow systemd_generator_t var_spool_t:dir { search };

allow systemd_logind_t default_t:dir { getattr search };
allow systemd_logind_t default_t:file { getattr map open read };

allow systemd_modules_load_t cgroup_t:filesystem { getattr };
allow systemd_modules_load_t tmpfs_t:filesystem { getattr };

allow systemd_networkd_t cgroup_t:dir { search };
allow systemd_networkd_t cgroup_t:filesystem { getattr };
allow systemd_networkd_t default_t:dir { getattr search };
allow systemd_networkd_t init_runtime_t:dir { read };
allow systemd_networkd_t nsfs_t:file { getattr };
allow systemd_networkd_t tmpfs_t:filesystem { getattr };

allow systemd_resolved_t cgroup_t:dir { search };
allow systemd_resolved_t cgroup_t:filesystem { getattr };
allow systemd_resolved_t default_t:dir { search getattr };
allow systemd_resolved_t default_t:file { read open map getattr };
allow systemd_resolved_t systemd_resolved_runtime_t:sock_file { create };
allow systemd_resolved_t tmpfs_t:filesystem { getattr };

allow systemd_sessions_t cgroup_t:dir { search };
allow systemd_sessions_t cgroup_t:filesystem { getattr };
allow systemd_sessions_t default_t:dir { search };
allow systemd_sessions_t default_t:file { getattr map open read };
allow systemd_sessions_t tmpfs_t:filesystem { getattr };

allow systemd_sysusers_t cgroup_t:dir { search };
allow systemd_sysusers_t cgroup_t:filesystem { getattr };
allow systemd_sysusers_t default_t:dir { getattr search add_name write };
allow systemd_sysusers_t default_t:file { create };
allow systemd_sysusers_t tmpfs_t:filesystem { getattr };

allow systemd_tmpfiles_t cgroup_t:filesystem { getattr };
allow systemd_tmpfiles_t default_t:dir { add_name getattr search open read relabelfrom setattr write };
allow systemd_tmpfiles_t init_runtime_t:file { open read };
allow systemd_tmpfiles_t mount_t:fd { use };
allow systemd_tmpfiles_t system_dbusd_var_lib_t:lnk_file { create };
allow systemd_tmpfiles_t tmpfs_t:file { getattr ioctl open read };
allow systemd_tmpfiles_t var_log_t:lnk_file { create };

allow systemd_user_runtime_dir_t cgroup_t:dir { search };
allow systemd_user_runtime_dir_t cgroup_t:filesystem { getattr };
allow systemd_user_runtime_dir_t default_t:dir { search };
allow systemd_user_runtime_dir_t default_t:file { getattr map open read };

allow udev_t default_t:dir { search getattr };
allow udev_t init_runtime_t:dir { read };
allow udev_t efivarfs_t:dir { search };
allow udev_t efivarfs_t:file { read open getattr };
