module gardenlinux @@VER@@;

require {
	type auditd_log_t;
	type bin_t;
	type boot_t;
	type bpf_t;
	type cert_t;
	type cgroup_t;
	type chronyd_t;
	type configfs_t;
	type cron_spool_t;
	type device_t;
	type devlog_t;
	type dnsmasq_t;
	type dosfs_t;
	type fixed_disk_device_t;
	type fsadm_t;
	type groupadd_t;
	type hostname_exec_t;
	type hugetlbfs_t;
	type ifconfig_exec_t;
	type init_runtime_t;
	type initrc_runtime_t;
	type iso9660_t;
	type kernel_t;
	type lib_t;
	type local_login_t;
	type locale_t;
	type mount_t;
	type nsfs_t;
	type ntpd_t;
	type policykit_t;
	type proc_t;
	type pstore_t;
	type ramfs_t;
	type removable_device_t;
	type root_t;
	type semanage_t;
	type sshd_t;
	type sysctl_kernel_t;
	type sysctl_t;
	type sysfs_t;
	type syslogd_runtime_t;
	type syslogd_t;
	type syslogd_var_lib_t;
	type system_cron_spool_t;
	type system_dbusd_t;
	type system_mail_t;
	type systemd_generator_t;
	type systemd_hostnamed_t;
	type systemd_journal_t;
	type systemd_logind_t;
	type systemd_machined_t;
	type systemd_networkd_runtime_t;
	type systemd_networkd_t;
	type systemd_notify_t;
	type systemd_resolved_runtime_t;
	type systemd_resolved_t;
	type systemd_sysusers_t;
	type systemd_tmpfiles_t;
	type tmpfs_t;
	type tracefs_t;
	type udev_t;
	type unconfined_t;
	type urandom_device_t;
	type useradd_t;
	type user_home_dir_t;
	type var_lock_t;
	type var_lib_t;
	type var_run_t;
	type var_spool_t;
	type virt_leaseshelper_t;
	type virtd_t;
	type virtlogd_t;
	class blk_file { getattr ioctl open read };
	class capability { sys_admin sys_rawio dac_read_search net_admin };
        class chr_file setattr;
	class dbus send_msg;
	class dir { add_name create getattr read remove_name search open write watch mounton };
	class sock_file { write create };
	class fifo_file { create open relabelto setattr getattr read write relabelfrom };
	class filesystem getattr;
	class file { create append ioctl execute execute_no_trans getattr setattr lock map open read unlink write map };
	class lnk_file read;
	class unix_dgram_socket { create getopt sendto setopt write };
	class unix_stream_socket { connectto create };
	class process { noatsecure rlimitinh siginh transition getsched };
}

#============= chronyd_t ==============
allow chronyd_t self:capability dac_read_search;

#============= dnsmasq_t ==============
allow dnsmasq_t systemd_resolved_runtime_t:dir read;
allow dnsmasq_t systemd_resolved_runtime_t:dir watch;

#============= fsadm_t ==============
allow fsadm_t root_t:dir { add_name remove_name write };
allow fsadm_t root_t:file { create open read unlink write };

#============= groupadd_t ==============
allow groupadd_t proc_t:filesystem getattr;
allow groupadd_t sysctl_kernel_t:dir search;
allow groupadd_t sysctl_kernel_t:file { open read };
allow groupadd_t sysctl_t:dir search;

#============= local_login_t ==============
allow local_login_t auditd_log_t:dir getattr;
allow local_login_t var_run_t:file setattr;
allow local_login_t boot_t:dir search;
allow local_login_t bpf_t:dir getattr;
allow local_login_t bpf_t:filesystem getattr;
allow local_login_t configfs_t:dir getattr;
allow local_login_t configfs_t:filesystem getattr;
allow local_login_t device_t:filesystem getattr;
allow local_login_t dosfs_t:dir getattr;
allow local_login_t dosfs_t:filesystem getattr;
allow local_login_t hostname_exec_t:file { execute execute_no_trans map };
allow local_login_t hugetlbfs_t:dir getattr;
allow local_login_t hugetlbfs_t:filesystem getattr;
allow local_login_t ifconfig_exec_t:file { execute execute_no_trans map };
allow local_login_t nsfs_t:file getattr;
allow local_login_t pstore_t:dir getattr;
allow local_login_t pstore_t:filesystem getattr;
allow local_login_t ramfs_t:dir getattr;
allow local_login_t ramfs_t:filesystem getattr;
allow local_login_t systemd_networkd_runtime_t:dir search;
allow local_login_t systemd_networkd_runtime_t:file { getattr open read };
allow local_login_t systemd_networkd_t:dbus send_msg;
allow local_login_t tmpfs_t:filesystem getattr;
allow local_login_t tracefs_t:dir getattr;
allow local_login_t tracefs_t:filesystem getattr;
allow local_login_t var_run_t:dir create;
allow local_login_t var_run_t:file { create getattr lock open read write };

#============= mount_t ==============
allow mount_t initrc_runtime_t:dir mounton;
allow mount_t iso9660_t:filesystem getattr;

#============= ntpd_t ==============
allow ntpd_t systemd_resolved_runtime_t:sock_file write;
allow ntpd_t systemd_resolved_t:unix_stream_socket connectto;

#============= policykit_t ==============
allow policykit_t systemd_hostnamed_t:dbus send_msg;
allow policykit_t systemd_machined_t:unix_stream_socket connectto;

#============= semanage_t ==============
allow semanage_t systemd_machined_t:unix_stream_socket connectto;

#============= sshd_t ==============
allow sshd_t boot_t:dir search;
allow sshd_t bpf_t:dir getattr;
allow sshd_t configfs_t:dir getattr;
allow sshd_t dosfs_t:dir getattr;
allow sshd_t fixed_disk_device_t:blk_file getattr;
allow sshd_t hostname_exec_t:file { execute execute_no_trans getattr map open read };
allow sshd_t hugetlbfs_t:dir getattr;
allow sshd_t ifconfig_exec_t:file { execute execute_no_trans getattr map open read };
allow sshd_t nsfs_t:file getattr;
allow sshd_t pstore_t:dir getattr;
allow sshd_t ramfs_t:dir getattr;
allow sshd_t removable_device_t:blk_file getattr;
allow sshd_t systemd_networkd_runtime_t:dir search;
allow sshd_t systemd_networkd_runtime_t:file { getattr open read };
allow sshd_t systemd_networkd_t:dbus send_msg;
allow sshd_t systemd_resolved_runtime_t:sock_file write;
allow sshd_t systemd_resolved_t:unix_stream_socket connectto;
allow sshd_t tracefs_t:dir getattr;
allow sshd_t unconfined_t:process transition;
allow sshd_t unconfined_t:process { noatsecure rlimitinh siginh };
allow sshd_t user_home_dir_t:file { getattr open read };
allow sshd_t var_lock_t:dir getattr;
allow sshd_t var_run_t:dir create;

#============= syslogd_t ==============
allow syslogd_t device_t:fifo_file { getattr setattr open read write create };
allow syslogd_t syslogd_var_lib_t:sock_file create;
allow syslogd_t systemd_journal_t:dir watch;
allow syslogd_t tmpfs_t:dir { search write create add_name remove_name };
allow syslogd_t tmpfs_t:file { create write open read map };

#============= system_dbusd_t ==============
allow system_dbusd_t systemd_machined_t:unix_stream_socket connectto;

#============= systemd_generator_t ==============
allow systemd_generator_t cert_t:file { open read getattr create write };
allow systemd_generator_t cron_spool_t:dir { getattr search open read };
allow systemd_generator_t cert_t:dir { search read open };
allow systemd_generator_t lib_t:dir { add_name write search open create };
allow systemd_generator_t lib_t:file execute_no_trans;
allow systemd_generator_t self:capability { sys_rawio sys_admin };
allow systemd_generator_t system_cron_spool_t:dir { open read search getattr };
allow systemd_generator_t var_spool_t:dir { search write open read };
allow systemd_generator_t var_run_t:dir  { add_name create write };
allow systemd_generator_t var_run_t:file { append create getattr ioctl open write };
allow systemd_generator_t removable_device_t:blk_file { getattr ioctl open read };
allow systemd_generator_t var_lib_t:lnk_file read;

#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t init_runtime_t:dir { remove_name write };
allow systemd_hostnamed_t init_runtime_t:file unlink;
allow systemd_hostnamed_t policykit_t:dbus send_msg;

#============= systemd_logind_t ==============
allow systemd_logind_t locale_t:dir search;
allow systemd_logind_t locale_t:file { getattr open read };
allow systemd_logind_t locale_t:lnk_file read;
allow systemd_logind_t virtd_t:dbus send_msg;

#============= system_mail_t ==============
allow system_mail_t var_spool_t:dir { add_name create read open write };

#============= systemd_machined_t ==============
allow systemd_machined_t proc_t:filesystem getattr;

#============= systemd_networkd_t ==============
allow systemd_networkd_t local_login_t:dbus send_msg;
allow systemd_networkd_t init_runtime_t:dir read;
allow systemd_networkd_t init_runtime_t:file { open read };
allow systemd_networkd_t sshd_t:dbus send_msg;

#============= systemd_notify_t ==============
allow systemd_notify_t kernel_t:unix_dgram_socket sendto;
allow systemd_notify_t proc_t:filesystem getattr;
allow systemd_notify_t proc_t:file read;
allow systemd_notify_t self:capability { sys_admin net_admin };
allow systemd_notify_t self:unix_dgram_socket { create getopt setopt write };
allow systemd_notify_t sysctl_kernel_t:dir search;
allow systemd_notify_t sysctl_kernel_t:file { open read };
allow systemd_notify_t sysctl_t:dir search;

#============= systemd_sysusers_t ==============
allow systemd_sysusers_t tmpfs_t:dir search;
allow systemd_sysusers_t ramfs_t:dir search;

#============= systemd_tmpfiles_t ==============
allow systemd_tmpfiles_t var_spool_t:dir add_name;
allow systemd_tmpfiles_t var_spool_t:fifo_file { create setattr relabelfrom relabelto };

#============= udev_t ==============
allow udev_t init_runtime_t:dir read;
allow udev_t cgroup_t:dir { add_name write create };
allow udev_t cgroup_t:file { write create };

#============= useradd_t ==============
allow useradd_t self:capability dac_read_search;

#============= virt_leaseshelper_t ==============
allow virt_leaseshelper_t sysctl_t:dir search;
allow virt_leaseshelper_t sysctl_kernel_t:dir search;

#============= virtd_t ==============
allow virtd_t initrc_runtime_t:file { lock open read };
allow virtd_t systemd_logind_t:dbus send_msg;
allow virtd_t systemd_machined_t:dbus send_msg;
allow virtd_t systemd_machined_t:unix_stream_socket connectto;
allow virtd_t urandom_device_t:chr_file setattr;

#============= virtlogd_t ==============
allow virtlogd_t bin_t:dir search;
allow virtlogd_t self:process getsched;
allow virtlogd_t sysctl_t:dir search;
allow virtlogd_t sysfs_t:dir read;
allow virtlogd_t syslogd_runtime_t:dir search;
allow virtlogd_t devlog_t:sock_file write;
allow virtlogd_t sysfs_t:file { open read};
allow virtlogd_t self:unix_dgram_socket create;
allow virtlogd_t sysctl_kernel_t:dir search;
