module gardenlinux @@VER@@;

require {
	type ifconfig_exec_t;
	type virt_leaseshelper_t;
	type device_t;
        type devlog_t;
	type local_login_t;
	type systemd_machined_t;
	type hugetlbfs_t;
	type configfs_t;
	type virtlogd_t;
	type bin_t;
	type bpf_t;
	type sysfs_t;
        type sysctl_kernel_t;
	type tracefs_t;
	type init_runtime_t;
	type tmpfs_t;
	type ntpd_t;
	type systemd_resolved_t;
	type systemd_networkd_runtime_t;
	type semanage_t;
	type initrc_runtime_t;
	type policykit_t;
	type dosfs_t;
	type hostname_exec_t;
	type systemd_logind_t;
	type virtd_t;
	type ramfs_t;
	type locale_t;
	type nsfs_t;
	type var_run_t;
	type pstore_t;
	type proc_t;
	type udev_t;
	type systemd_resolved_runtime_t;
	type system_dbusd_t;
	type systemd_networkd_t;
	type boot_t;
	type systemd_hostnamed_t;
	type syslogd_runtime_t;
	type sysctl_t;
	type dnsmasq_t;
        type urandom_device_t;
	class filesystem getattr;
	class file { create execute execute_no_trans getattr lock map open read unlink write };
	class dbus send_msg;
	class unix_stream_socket { connectto create };
	class dir { create getattr read remove_name search write watch };
	class sock_file write;
        class unix_dgram_socket create;
        class chr_file setattr;
	class process getsched;
}

#============= dnsmasq_t ==============
allow dnsmasq_t systemd_resolved_runtime_t:dir read;
allow dnsmasq_t systemd_resolved_runtime_t:dir watch;

#============= local_login_t ==============
allow local_login_t boot_t:dir search;
allow local_login_t bpf_t:dir getattr;
allow local_login_t bpf_t:filesystem getattr;
allow local_login_t configfs_t:dir getattr;
allow local_login_t configfs_t:filesystem getattr;
allow local_login_t device_t:filesystem getattr;
allow local_login_t dosfs_t:dir getattr;
allow local_login_t dosfs_t:filesystem getattr;
allow local_login_t hostname_exec_t:file { execute execute_no_trans map };
allow local_login_t hugetlbfs_t:dir getattr;
allow local_login_t hugetlbfs_t:filesystem getattr;
allow local_login_t ifconfig_exec_t:file { execute execute_no_trans map };
allow local_login_t nsfs_t:file getattr;
allow local_login_t pstore_t:dir getattr;
allow local_login_t pstore_t:filesystem getattr;
allow local_login_t ramfs_t:dir getattr;
allow local_login_t ramfs_t:filesystem getattr;
allow local_login_t systemd_networkd_runtime_t:dir search;
allow local_login_t systemd_networkd_runtime_t:file { getattr open read };
allow local_login_t systemd_networkd_t:dbus send_msg;
allow local_login_t tmpfs_t:filesystem getattr;
allow local_login_t tracefs_t:dir getattr;
allow local_login_t tracefs_t:filesystem getattr;
allow local_login_t var_run_t:dir create;
allow local_login_t var_run_t:file { create getattr lock open read write };

#============= ntpd_t ==============
allow ntpd_t systemd_resolved_runtime_t:sock_file write;
allow ntpd_t systemd_resolved_t:unix_stream_socket connectto;

#============= policykit_t ==============
allow policykit_t systemd_hostnamed_t:dbus send_msg;
allow policykit_t systemd_machined_t:unix_stream_socket connectto;

#============= semanage_t ==============
allow semanage_t systemd_machined_t:unix_stream_socket connectto;

#============= system_dbusd_t ==============
allow system_dbusd_t systemd_machined_t:unix_stream_socket connectto;

#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t init_runtime_t:dir { remove_name write };
allow systemd_hostnamed_t init_runtime_t:file unlink;
allow systemd_hostnamed_t policykit_t:dbus send_msg;

#============= systemd_logind_t ==============
allow systemd_logind_t locale_t:dir search;
allow systemd_logind_t locale_t:file { getattr open read };
allow systemd_logind_t virtd_t:dbus send_msg;

#============= systemd_machined_t ==============
allow systemd_machined_t proc_t:filesystem getattr;

#============= systemd_networkd_t ==============
allow systemd_networkd_t local_login_t:dbus send_msg;

#============= udev_t ==============
allow udev_t init_runtime_t:dir read;

#============= virt_leaseshelper_t ==============
allow virt_leaseshelper_t sysctl_t:dir search;
allow virt_leaseshelper_t sysctl_kernel_t:dir search;

#============= virtd_t ==============
allow virtd_t initrc_runtime_t:file { lock open read };
allow virtd_t systemd_logind_t:dbus send_msg;
allow virtd_t systemd_machined_t:dbus send_msg;
allow virtd_t systemd_machined_t:unix_stream_socket connectto;
allow virtd_t urandom_device_t:chr_file setattr;

#============= virtlogd_t ==============
allow virtlogd_t bin_t:dir search;
allow virtlogd_t self:process getsched;
allow virtlogd_t sysctl_t:dir search;
allow virtlogd_t sysfs_t:dir read;
allow virtlogd_t syslogd_runtime_t:dir search;
allow virtlogd_t devlog_t:sock_file write;
allow virtlogd_t sysfs_t:file { open read};
allow virtlogd_t self:unix_dgram_socket create;
allow virtlogd_t sysctl_kernel_t:dir search;
